<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.neu.jianfu.dao.NoteBookMapper">
 	<insert id="save" parameterType="com.neu.jianfu.entity.NoteBook">
 		insert into cn_notebook values(
 			#{cn_notebook_id,jdbcType=VARCHAR},
 			#{cn_user_id,jdbcType=VARCHAR},
 			#{cn_notebook_type_id,jdbcType=VARCHAR},
 			#{cn_notebook_name,jdbcType=VARCHAR},
 			#{cn_notebook_desc,jdbcType=VARCHAR},
 			#{cn_notebook_createtime,jdbcType=TIMESTAMP}
 		)
 		
 		
 	</insert>
 	
 	<select id="findNormal" resultType="com.neu.jianfu.entity.NoteBook">
 		select * from cn_notebook where cn_user_id = #{userId} and cn_notebook_type_id ='5'
 	</select>
 	
 	
 	<select id="findSpecial" resultType="com.neu.jianfu.entity.NoteBook">
 		select * from cn_notebook where cn_user_id = #{userId} and cn_notebook_type_id in ('1','2','3','4')
 	</select>
 	
 	<update id="update" parameterType="com.neu.jianfu.entity.NoteBook">
 		update cn_notebook set cn_notebook_name = #{cn_notebook_name,jdbcType=VARCHAR},cn_notebook_desc = #{cn_notebook_desc,jdbcType=VARCHAR}
 	</update>
 	
 	<delete id="delete">
 		delete from cn_notebook where cn_notebook_id = #{id}
 	</delete>
 </mapper>